@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700&display=swap');
@font-face {
  font-family: 'Drafting* Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Drafting* Mono'), local('Drafting* Mono'),
       url('../fonts/DraftingMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
}
@font-face {
  font-family: 'Drafting* Mono Italic';
  font-style: italic;
  font-weight: 500;
  src: local('Drafting* Mono Italic'), local('Drafting* Mono Italic'),
       url('../fonts/DraftingMono-Italic.woff2') format('woff2') /* Super Modern Browsers */
}
@font-face {
  font-family: 'GlowSansSC';
  font-style: normal;
  font-weight: 500;
  src: local('未来荧黑 Normal Regular'),
       url('../fonts/GlowSansSC-Normal-Regular.otf') format('otf')
}
@font-face {
  font-family: 'Besley*';
  font-style: normal;
  font-weight: 500;
  src: local('Besley*'),
       url('../fonts/Besley-Book.ttf')
}

